<template>
  <v-row justify="center" align="center" class="mt-5">
    <v-expansion-panels v-model="expansion" multiple>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div class="text-h3">
            Data and Methodology
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <p>
            The data used in this interactive visualization was calculated as follows:
          </p>
          <ol>
            <li>Bulk card data was taken from <a href="https://scryfall.com">Scryfall</a>.</li>
            <li>The non-mono colored cards were filtered out.</li>
            <li>The remaining mono-colored cards were grouped by color.</li>
            <li>
              Keyword <a href="https://scryfall.com/docs/api/catalogs/keyword-actions">actions</a> and
              <a href="https://scryfall.com/docs/api/catalogs/keyword-abilities">abilities</a> were requested
              from <a href="https://scryfall.com">Scryfall</a>'s <a href="https://scryfall.com/docs/api/catalogs/">catalogs</a>.
            </li>
            <li>
              Keyword <a href="https://scryfall.com/docs/api/catalogs/keyword-actions">actions</a> and
              <a href="https://scryfall.com/docs/api/catalogs/keyword-abilities">abilities</a> were unifed
              as a singular keyword catalog.
            </li>
            <ssh-pre language="js" label="Pseudocode">
keyword_tallies = {}
for keyword in keyword_catalog:
    tallies = {}
    for color in WUBRG:
        tallies[color] = []
        for card in cards_by_monocolor[color]:
            if keyword in card['keywords']:
                tallieis[color].append(card['name'])
    keyword_tallies[keyword] = tallies
            </ssh-pre>
            <li>
              From the collection of mono-colored cards with a given keyword, the
              percentage of representation of that keyword in a color was calculated.
            </li>
            <li>
              Additionally, for each keyword which color had the <span class="font-italic">max</span>
              reprentation was calculated and the pie chart of the percentage of keywords that a color
              has the max representation is provided below.
            </li>
          </ol>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div class="text-h3">
            Max Claim to Keywords By Color
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="">
            <div class="d-flex justify-center">
              <Donut
                :chart-data="maxDonutData"
                :options="{
                  responsive:false,
                  circumference:Math.PI,
                  aspectRatio:1,
                  rotation:1*Math.PI,
                  maintainAspectRatio: false,
                  tooltips: maxDonutTooltips
                }"
                :styles="{
                  maxHeight: '300px',
                  position: 'relative'
                }"
              />
            </div>
            <div class="d-flex justify-center mt-5">
              <p>
                The number of keywords, per color, that each color has the maximum
                (or tied for the maximum) representation for.
              </p>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div class="text-h3">
            Claim to Each Keyword By Color
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="d-block mb-3">
            <p>
              In the data table below you will see each keyword and the percentage
              of mono-color cards that have that keyword. Clicking on the headers will sort
              in ascending / descending order. You can multisort by clicking on multiple headers.
            </p>
            <p>
              The "free text" filter is your friend. The following are examples of
              input you can provide it:
            </p>
            <ul>
              <li>W &gt; 50 or U &lt; 20 and keyword contains li</li>
              <li>G is 0 or keyword = affinity</li>
              <li>W &gt; 60 or R &gt; 60</li>
            </ul>
            <p>
              Filtering data here will reduce the charts shown below.
            </p>
          </div>
            <VRecordsTable
                v-if="colorOfKeywordsData"
                :json="colorOfKeywordsData"
                :fieldOrder="fieldOrder"
                :fieldSynonymMap="fieldSynonymMap"
                :fieldRenderFunctions="fieldRenderFunctions"
                :fieldSortByFunctions="fieldSortByFunctions"
                :fieldFilterFunctions="fieldFilterFunctions"
                :functionLookup="functionLookup"
                :showSelect="false"
                :showTable="true"
                @change:selected="handleSelected"
                @change:regmatched="filtered"
                @change:filtered="filtered"
                @change:timsort="filtered"
              />
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <div class="text-h3">
            Pie Charts of Percentage Membership per Color
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-col cols="12" class="d-flex justify-center" v-if='subset'>
            <v-data-iterator :items="subset">
              <template v-slot:default="props">
                <v-slide-y-transition tag="v-row" group class="d-flex justify-space-around flex-wrap">
                    <v-col
                      v-for="(id, i) in props.items"
                      :key="`keyword-${id}-col`"
                      class="d-flex justify-space-around"
                    >
                      <v-hover v-slot:default="{ hover }">
                        <v-card max-width="350" :class="{'elevation-8': hover, 'elevation-2':!hover}" >
                          <v-card-title primary-title :style="{}" class="d-block text-truncate body-1">
                            {{id}}
                          </v-card-title>
                          <v-card-text class="justify-space-around d-flex" :class="{up:hover}">
                            <Donut
                              :chart-data="donutData[id]"
                              :options="{
                                responsive:true,
                                circumference:Math.PI,
                                aspectRatio:1,
                                rotation:1*Math.PI,
                                maintainAspectRatio: false,

                              }"
                              :styles="{
                                maxHeight: '100px',
                                position: 'relative'
                              }"
                            />
                          </v-card-text>
                        </v-card>
                      </v-hover>
                    </v-col>
                </v-slide-y-transition>
              </template>
            </v-data-iterator>
          </v-col>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>
</template>

<script>
import {VRecordsTable} from 'vfrxt'
import SshPre from 'simple-syntax-highlighter'
import 'simple-syntax-highlighter/dist/sshpre.css'
import Donut from '@/components/Donut'
import {
  fieldOrder,
  fieldRenderFunctions,
  fieldSortByFunctions,
  fieldFilterFunctions,
  fieldSynonymMap,
  functionLookup,
} from '@/static/cards.config.js'

const WUBRG = ['W', 'U', 'B', 'R', 'G']
const COLORS = {
    'W': '#F5F2EE',
    'U': '#2B6BA4',
    'B': '#393431',
    'R': '#D54C35',
    'G': '#2D6A48'
}

import axios from 'axios'

export default {
  components: {
    VRecordsTable, Donut, SshPre
  },
  data: () => ({
    expansion: [3],
    colorOfKeywordsData: null,
    maxColorOfKeywordsData: null,
    fieldOrder,
    fieldSynonymMap,
    selected: [],
    fieldRenderFunctions,
    fieldSortByFunctions,
    fieldFilterFunctions,
    functionLookup,
    subset: null,
    colors: {}
  }),
  computed: {
    keywords() {
      if (this.colorOfKeywordsData) {
        return Object.keys(this.colorOfKeywordsData)
      }
      return []
    },
    colorLabels() {
      let labels = []
      WUBRG.forEach((color, i) => {
        if (this.colors[color]) {
          labels.push(color)
        }
      });
      return labels
    },
    maxDonutData() {
      if (this.maxColorOfKeywordsData === null) {
        return {}
      }
      let n = []
      let t = 0
      WUBRG.forEach((color, i)=> {
        let v = this.maxColorOfKeywordsData[color].length
        n.push(v)
        t += v
      })

      return {
        labels: this.colorLabels,
        datasets:[{
          data: n.map(n=>Math.round(n/t*100, 2)),
          data: n, //.map(n=>Math.round(n/t*100, 2)),
          labels: this.colorLabels,
          backgroundColor: this.colorLabels.map(c=>COLORS[c]),
        }],
      }
    },
    maxDonutTooltips() {
      let that = this
      return {
        callbacks: {
          label: function(tooltipItem, chart) {
            let c = that.colorLabels[tooltipItem.index]
            return that.maxColorOfKeywordsData[c]
          }
        }
      }
      // this.colorLabels.map((c, i)=>({
      //   label: c,
      //   value: this.maxColorOfKeywordsData[c],
      //   datasetIndex: 0,
      //   index: i,
      // }))
    },
    donutData() {
      let kws = this.selected === null ? this.keywords : this.selected
      let data = {}
      kws.forEach((kw, i)=> {
        data[kw] = this.getKeywordDonutData(kw)
      })
      return data
    }
  },
  methods: {
    handleSelected(data) {
      if (this.selected && this.selected.length == 0) {
        this.selected = this.keywords
      } else {
        data.sort()
        this.selected = data
      }
    },
    filtered(data) {
      // console.log(data)
      this.subset = data
    },
    getKeywordDonutData(keyword) {
      return {
        datasets: [{
          data: this.colorLabels.map((c, j)=>this.colorOfKeywordsData[keyword][c]),
          labels: this.colorLabels,
          backgroundColor: this.colorLabels.map(c=>COLORS[c]),
        }],
        labels:this.colorLabels
      }
    }
  },
  async asyncData() {
    try {
      let colors = {}
      let colorOfKeywordsData
      let maxColorOfKeywordsData
      WUBRG.forEach((color, i) => {
        colors[color] = true
      });
      let response = await axios.get('color_of_keyword_counts.json')
      if (response.data) {
        colorOfKeywordsData = response.data
      }
      response = await axios.get('max_color_of_keyword_counts.json')
      if (response.data) {
        maxColorOfKeywordsData = response.data
      }
      return {
        colors, colorOfKeywordsData, maxColorOfKeywordsData,
        selected:Object.keys(colorOfKeywordsData),
        subset:Object.keys(colorOfKeywordsData)
      }
    } catch (e) {

    } finally {

    }
  }
}
</script>
<style >
.v-card, .v-card__text {
  transition: all .4s ease-in-out;
}
.up {
  transform: translateY(-10px)
}
</style>
